body {
  background-color: #444;
}

* {
  box-sizing: border-box;
  /* border: solid black 1px; */
}

header {
  text-transform: uppercase;
  font-size: 110%;
  font-family: Raleway;
  color: rgb(255,255,255, 0.8);
  /* height: 50px; */
}

header > p,
header > h1 {
  display: inline-block;
  border-right: solid rgb(255,255,255, 0.5) 5px;
  padding: 20px;
  /* height: 20px; */
  vertical-align: middle;
}