* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.container {
    width: 100%;
    height: 80vh;
    border: solid black 2px;
    
    /* add flex display */
    display: flex;
    flex-direction: column;
    /* align-content: flex-start;
    flex-wrap: wrap; */

    /* add flex-wrap: wrap */
    /* width: 300px; */
}

.item {
    height: 20%;
    width: 20%;
    border: 2px solid blue;
    font-size: 24px;

    /* flex-basis */
    flex-basis: auto;
    flex-shrink: 2;
}

.item:nth-child(1) {
    /* flex basis, grow, shrink (default 1, bigger value shrinks more) */
    /* flex-grow: 1; */
    flex-shrink: 0;
}
.item:nth-child(2) {
    /* flex-grow: 1; */
    flex-shrink: 0;
}
.item:nth-child(3) {
    background-color: aqua;
    order:2;
}
.item:nth-child(4) {
    /* Nested cell flex, self align, order */
    background-color: aqua;
    order:1;
} 
.item:nth-child(5) {
    display: flex;
}
.item:nth-child(6) {
    background-color: brown;
    order:5;
}
.item:nth-child(7) {
    align-self: flex-start;
}
.item:nth-child(8) {
    align-self: center;
}
.item:nth-child(9) {
    align-self: flex-end;
}

.item:nth-child(4n){
    background-color: cadetblue;
}


p {
    border: 0;
    margin: 0;
    padding: 0;
}