* {
  font-style: italic;
  border: solid blue 1px;
  margin: 10px;
}

header {
  color: blue;
  font-size: 32px;
  font-weight: bolder;
}

p {
  color: red;
  font-size: 24px;
}

.list-items {
  background-color: salmon;
}

.food-items {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a[href="http://amazon.com"] {
  font-size: 24px;
}

li:hover {
  color: rgba(38, 0, 255, 0.678);
}

li:nth-child(odd) {
  color: green;
}

header div > p#first {
  font-size: 12px;
}

body {
  width: 50%;
}

div {
  display: block;
  width: 50px;
  text-align: center;
  font-size: 1.5rem;
}